.category{
    color: rgb(138, 3, 3);
    font-size: 1.2rem;
    cursor: pointer;
}

.category:hover{
    color: rgb(207, 5, 5);
}

.post:hover{
    color: lightslategray;
}

.post{
    padding-left: 20px;
    color: black;
    font-size: 1.1rem;
    cursor: pointer;
}

.flexRow{
    display: flex;
}

.searchLine{
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(94, 1, 1);
    width: 200px;
    margin-right: 10px;
}

.searchButton{
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 10px;
}

.comments{
    border-left: 1px solid black;
    padding-left: 10px;
}

.comment{
    background-color: rgb(225, 244, 250); 
    padding-left: 5px;
    border-radius: 5px;
}

.replyComment{
    padding-left: 50px;
}